<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.practice.mvc.dao.JobMapper">
    <resultMap id="jobResultMap" type="com.ohgiraffers.practice.mvc.dto.JobDTO">
        <id property="jobCode" column="job_code"/>
        <result property="jobName" column="job_name"/>

    </resultMap>

    <select id="selectAllJob" resultMap="jobResultMap">
        select
        job_code,
        job_name
        from job
        order by job_code
    </select>

    <select id="selectJobByCode" parameterType="String" resultMap="jobResultMap">
        select job_code,
        job_name
        from job
        where job_code = #{ jobCode }
    </select>

    <select id="selectJobByName" parameterType="String" resultMap="jobResultMap">
        select job_code,
        job_name
        from job
        where job_name = #{ jobName }
    </select>

    <insert id="insertJob" parameterType="com.ohgiraffers.practice.mvc.dto.JobDTO">
        insert into job (
        job_code,
        job_name
        ) values (
        #{ jobCode },
        #{ jobName }
        )
    </insert>

    <update id="modifyJob" parameterType="com.ohgiraffers.practice.mvc.dto.JobDTO">
        update job
        set
        job_name = #{ jobName }
        where
        job_code = #{ jobCode }
    </update>

    <delete id="deleteJob" parameterType="String">
        delete
        from job
        where job_code = #{ jobCode }
    </delete>
</mapper>